<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5DGyzWc2oLbXaDASTmUNAzAE_ntSUUb0</string>
	<key>GCM_SENDER_ID</key>
	<string>104650394084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderTrack</string>
	<key>PROJECT_ID</key>
	<string>track-order-2468c</string>
	<key>STORAGE_BUCKET</key>
	<string>track-order-2468c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104650394084:ios:c38eed83258b6204d0dff1</string>
</dict>
</plist>